.table-container {
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFFFFF;
  margin: 20px auto 20px auto;
  height: 620px;
  width: 928px;
  max-width: 100%;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #9E9E9E;
  flex-direction: column;
}